:root {
  --font-family: system-ui, sans-serif;
  --foreground: hsl(0, 0%, 20%);
  --background: hsl(0, 0%, 95%);
  --overlay: hsla(0, 0%, 10%, 0.5);
  --action-color: hsl(261, 68%, 66%);
  --transition: 300ms ease-in-out;
  --justified-row-ratio: 0.25; /* Adjust this ratio as needed */
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--foreground);
  background-color: var(--background);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  position: relative;
  align-content: flex-start;
}

.post {
  outline: 2px solid #fff;
  position: relative;
}

.post img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.post .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--overlay);
  color: white;
  text-align: center;
  padding: 1rem;
  opacity: 0;
  transition: opacity var(--transition);
}

.post:hover .overlay {
  opacity: 1;
}