---
import Layout from "../layouts/Layout.astro";
import PhotoStream from '../components/PhotoStream';
import '../styles/photo-stream.css';

---

<Layout title="Photo Stream">
    <main>
        <PhotoStream client:load />
    </main>
</Layout>