<footer style="position: fixed; bottom: 0; width: 100%; z-index: 1000;">
    <p class="text-center">
        J1mL1 Copyright &copy; 
        <span id ='copyright'></span> | Built with 
        <span class="text-gradient">Astro</span>
    </p>
</footer>

<script>
    document.querySelector('#copyright').textContent = 
    new Date()
        .getFullYear()
        .toString();
</script>