---
import HeaderLink from "./HeaderLink.astro";
import ThemeToggle from "./ThemeToggle.astro";
import "../styles/components/navigation.css";

interface NavItem {
	href: string;
	label: string;
	icon: string;
}

const navItems: NavItem[] = [
	{
		href: '/',
		label: 'Home',
		icon: 'M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6',
	},
	{
		href: '/projects',
		label: 'Projects',
		icon: 'M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4',
	},
	{
		href: '/blog',
		label: 'Blog',
		icon: 'M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a2 2 0 011.414.586l3.414 3.414A2 2 0 0118 7.414V19a2 2 0 01-2 2z',
	},
	{
		href: '/contact',
		label: 'Contact',
		icon: 'M21 8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2h14a2 2 0 002-2V8zM5 8l7 4 7-4',
	},
	{
		href: '/plog',
		label: 'Photography',
		icon: 'M3 7h2l1.5-2h11L19 7h2a1 1 0 011 1v9a2 2 0 01-2 2H4a2 2 0 01-2-2V8a1 1 0 011-1zm9 10a4 4 0 100-8 4 4 0 000 8zm0-2.5a1.5 1.5 0 110-3 1.5 1.5 0 010 3z',
	},
	{
		href: '/about',
		label: 'About',
		icon: 'M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z',
	}
];
---
<header class="site-header">
	<nav class="main-nav" aria-label="Primary navigation">
		<div class="nav-wrapper">
			<ul class="nav-links">
				{navItems.map(({ href, label, icon }) => (
					<li>
						<HeaderLink href={href} aria-label={label} title={label}>
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" aria-hidden="true">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d={icon} />
							</svg>
						</HeaderLink>
					</li>
				))}
			</ul>
			<ThemeToggle />
		</div>
	</nav>
</header>
