/* Dark mode specific styles */
.dark .instructions {
    background-color: var(--neu-base);
    border-color: rgba(var(--accent), 40%);
}

.dark .nav-link {
    color: rgb(var(--accent));
}

.dark .nav-link:hover {
    background-color: rgba(var(--accent), 0.2);
}

.dark .text-gradient {
    background-image: var(--accent-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}

.dark .link-card {
    background-color: var(--neu-base);
    box-shadow: 0 4px 6px -1px var(--neu-shadow-outer-light), 0 2px 4px -2px var(--neu-shadow-outer-light);
}

.dark .link-card > a {
    background-color: var(--neu-base);
    color: var(--text-color);
}

.dark .link-card p {
    color: var(--text-color);
}

.dark .site-header {
    background-color: var(--bg-color);
    border-bottom: none;
}

.dark .nav-link svg {
    stroke: var(--text-color);
} 
