html, body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--neu-base);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

html {
    overflow-y: scroll;
}

body {
    display: flex;
    flex-direction: column;
}

* {
    transition: background-color 0.3s ease; /* Apply to all elements */
} 